
<!DOCTYPE html> 
<html> 
<head> 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
<title>Google Maps JavaScript API v3 Example: Info Window Simple</title> 
<style type="text/css">
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 500px;
  width:700px;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}
body, .bubbleContent, .bubbleHeading {
  font-family: verdana,arial,sans-serif;
  font-size:small;
}
.bubbleThumbnail {
  width:400px;
  height:150px;
}

</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript"> 
  var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var myLatlng1 = new google.maps.LatLng(-33.893721,151.262466);
    var myLatlng2 = new google.maps.LatLng(-33.792429,151.1901);
    var myOptions = {
      zoom: 15,
      center: myLatlng1,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
 
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
 
    var bubble1 = '<div class="content">'+
        '<h1 class="bubbleHeading">Bondi RSL</h1>'+
        '<div class="bubbleContent"><img class="bubbleThumbnail" src="images/place_rsl.jpg" /><br /><span style="font-weight:bold">Availability</span><br />'+
        '<table><tr>'+
        '<td>Sun</td>'+
        '<td>Mon</td>'+
        '<td>Tue</td>'+
        '<td>Wed</td>'+
        '<td>Thur</td>'+
        '<td>Fri</td>'+
        '<td>Sat</td>'+
        '</tr>'+
        '<tr>'+
        '<td>08:30-20:30</td>'+
        '<td>08:30-20:30</td>'+
        '<td>08:30-20:30</td>'+
        '<td>08:30-20:30</td>'+
        '<td>08:30-20:30</td>'+
        '<td>08:30-20:30</td>'+
        '<td>08:30-20:30</td>'+
        '</tr></table>'+
        '<span style="font-weight:bold">Closed</span>'+
        '<table><tr>'+
        '<td>Dec 25th</td>'+
        '</tr></table>'+
        '<input type="submit" value="Use this address" />'+
        '</div>'+
        '</div>';

    var bubble2 = '<div class="content">'+
        '<h1 class="bubbleHeading">Chatswood RSL</h1>'+
        '<div class="bubbleContent"><img class="bubbleThumbnail" src="images/place_rsl.jpg" /><br /><span style="font-weight:bold">Availability</span><br />'+
        '<table><tr>'+
        '<td>Sun</td>'+
        '<td>Mon</td>'+
        '<td>Tue</td>'+
        '<td>Wed</td>'+
        '<td>Thur</td>'+
        '<td>Fri</td>'+
        '<td>Sat</td>'+
        '</tr>'+
        '<tr>'+
        '<td>08:30-20:30</td>'+
        '<td>08:30-20:30</td>'+
        '<td>08:30-20:30</td>'+
        '<td>08:30-20:30</td>'+
        '<td>08:30-20:30</td>'+
        '<td>08:30-20:30</td>'+
        '<td>08:30-20:30</td>'+
        '</tr></table>'+
        '<span style="font-weight:bold">Closed</span>'+
        '<table><tr>'+
        '<td>Dec 25th</td>'+
        '</tr></table>'+
        '<input type="submit" value="Use this address" />'+
        '</div>'+
        '</div>';

        
    var infowindow1 = new google.maps.InfoWindow({
        content: bubble1
    });
 
    var marker1 = new google.maps.Marker({
        position: myLatlng1,
        map: map,
        title: 'Sydney RSL'
    });

    google.maps.event.addListener(marker1, 'click', function() {
      infowindow1.open(map,marker1);
    });

    var infowindow2 = new google.maps.InfoWindow({
        content: bubble2
    });
 
    var marker2 = new google.maps.Marker({
        position: myLatlng2,
        map: map,
        title: 'Chatswood RSL'
    });

    google.maps.event.addListener(marker2, 'click', function() {
      infowindow2.open(map,marker2);
    });
  }
 
  function codeAddress() {
    var address = document.getElementById("address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
</script> 
</head> 
<body onload="initialize()" style="padding:50px"> 
  <input type="text" placeholder="Enter an address" style="width:300px" id="address" />
  <input type="button" value="Search" onclick="codeAddress()">
  <p />
  <div id="map_canvas"></div> 
</body> 
</html> 
