<h1>Delivery List</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Date posted</th>
    <th>Received?</th>
    <th></th>
  </tr>

<% @deliveries.each do |@delivery| %>
<%= render(:partial => 'delivery', :object => @delivery) %>
<% end %>
</table>
