<!DOCTYPE html>
<html>
<head>
  <title>My Other Address</title>
  <link href='http://fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
        <div class="menu">
                <div class="menu_content">
<img src="/images/MOA-logo-sticker.png" alt="mail dlivery" style="width:150px;padding-left:1100px;float:right;padding-top:10px;position:absolute">
                        <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Support</a></li>
                        </ul>
                </div>
        </div>

<body>
	
<%= yield %>

</body>
<div id="bottom">
</div>
</html>


